{% extends 'base.html' %}
{% block title %}
<title>detail of stock</title>
{% endblock title %}
{% block content %}
<div class="row d-flex justify-content-center align-items-center my-5">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bg-light p-5 shadow">
		<img src="{% if stock.image %}{{stock.image.url}}{% endif %}" class="w-100">
		<h3 class="fw-bold mt-4">{{stock.product}}</h3>
		<h4 class="fw-bold my-3"> Company:{{stock.company.name}}</h4>
		<h6 class="fw-bold">Total available pieces:{{stock.quantity}}</h6>
		<h6><span class='fw-bold'>Address: </span>{{stock.address.house_no}},
		{{stock.address.street}}</h6>
		<h6>{{stock.address.area}},
			{{stock.address.city}} - 
		{{stock.address.zipcode}}</h6>
		<h6>{{stock.address.state}}, 
		{{stock.address.country}} ({{stock.address.address_type}})</h6>
		<div class="text-center">
		<a href="{% url 'product:list_of_stock' %}" class="btn btn-success">Back</a>
		<a href="{% url 'product:update_of_stock' pk=stock.pk %}" class="btn btn-primary">Update</a>
		<a href="{% url 'product:delete_of_stock' pk=stock.pk %}" class="btn btn-danger">Delete</a>
	</div>
	</div>
</div>
{% endblock %}