body{
	font-family: 'Montserrat', sans-serif;;
}
.one{
	border: 1px solid black;
}
.two{
	width: 100%;
}
.three{
	font-size: 12px;
}
.four{
	background-color: #191970;
	font-size: 12px;
	width:105px;
	color: white;
}
.five{
	background-color:#191970;
	width:100px;
	font-size: 14px;
	color: white;
}
.six{
	width:100px;
	font-size: 14px;
}
.btn:hover{
	border: 1px solid black;
	transition: 0.5;
	color: black;
}