body{
	font-family: 'Montserrat', sans-serif;
}
.card-img{
	height: 250px;
}
.button{
	font-size: 10px;
	background-color: #CCCCFF;
	width: 72px;
}
hr{
	height: 2px;
	background-color: grey;
}
.name{
	color: #FF5F1F;
}
.button1{
	width: 200px;
	background-color: #FF5F1F;
	color: white;
}