body{
	font-family: 'Montserrat', sans-serif;
}
hr{
	height: 2px;
	background-color: grey;
}
.name{
	color: #FF5F1F;
}

@media screen and (max-width: 400px) {
.card-img{
	height: 180px;
}
.button{
	font-size: 8px;
	background-color: #CCCCFF;
	width: 70px;
}	    
.button1{
	width: 120px;
	background-color: #FF5F1F;
	color: white;
}
h3{
	font-size: 20px;
}
h5{
	font-size: 15px;
}
h6{
	font-size: 10px;
}
p{
	font-size: 10px;
}
}
	
@media screen and (min-width: 401px) and (max-width: 720px) {
.card-img{
	height: 190px;
}
.button{
	font-size: 9px;
	background-color: #CCCCFF;
	width: 68px;
}
.button1{
	width: 140px;
	background-color: #FF5F1F;
	color: white;
}
h3{
	font-size: 22px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 12px;
}
p{
	font-size: 12px;
}	    
}
	
@media screen and (min-width: 721px) and (max-width: 1280px) {
.card-img{
	height: 190px;
}
.button{
	font-size: 9px;
	background-color: #CCCCFF;
	width: 65px;
}
.button1{
	width: 160px;
	background-color: #FF5F1F;
	color: white;
}
h3{
	font-size: 26px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 13px;
}
p{
	font-size: 13px;
}	    
}
	
@media screen and (min-width: 1281px) and (max-width: 1440px) {
.card-img{
	height: 220px;
}
.button{
	font-size: 9px;
	background-color: #CCCCFF;
	width: 70px;
}
.button1{
	width: 180px;
	background-color: #FF5F1F;
	color: white;
}
h3{
	font-size: 27px;
}
h5{
	font-size: 19px;
}
h6{
	font-size: 15px;
}
p{
	font-size: 15px;
}	    
}
	
@media screen and (min-width: 1441px) and (max-width: 1920px) {
.card-img{
	height: 250px;
}
.button{
	font-size: 10px;
	background-color: #CCCCFF;
	width: 72px;
}
.button1{
	width: 200px;
	background-color: #FF5F1F;
	color: white;
}
h3{
	font-size: 28px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 16px;
}
p{
	font-size: 16px;
}	    
}
	
@media screen and (min-width: 1921px) {
.card-img{
	height: 250px;
}
.button{
	font-size: 10px;
	background-color: #CCCCFF;
	width: 72px;
}
.button1{
	width: 200px;
	background-color: #FF5F1F;
	color: white;
}
h3{
	font-size: 28px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 16px;
}
p{
	font-size: 16px;
}	    
}