{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>E-brochure page</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/e-brochure.css' %}">
	</head>
	<body>
		<div class="row d-flex align-items-center justify-content-center">
			<div class="card border-0 p-5 bg-info">
				<h1 class="text-center fw-bold"><big>Fashion<br> solutions</big> </h1>
				<img src="{% static 'image/brochure-1.jpeg' %}" class="mx-auto rounded-pill mt-5 w-25">
				<div class="row d-flex justify-content-center align-items-center">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<h6 class="text-center mt-5 p-5 lh-lg">Porta nibh venenatis cras sed. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Consectetur libero id faucibus nisl tincidunt. Ullamcorper a lacus vestibulum sed arcu non odio. Non tellus orci ac auctor augue. Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas.</h6>
			</div>
		</div>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
				<div class="row d-flex align-items-center justify-content-center p-5 mt-4">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 bg-info">
						<div class="row d-flex">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
								<h3 class="p-3 fw-bold">1</h3>
							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
								<p class="p-2 lh-lg">Recruitment Agency that strives to help businesses put together a staff of highly efficient and skilled professionals, and also serve employees by opening up new vistas of job opportunities for them.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
						<div class="row ">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
								<h3 class="p-3 fw-bold">2</h3>
							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
								<p class="p-2 lh-lg">Recruitment Agency that strives to help businesses put together a staff of highly efficient and skilled professionals, and also serve employees by opening up new vistas of job opportunities for them.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-4">
						<div class="row d-flex">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
								<h3 class="p-3 fw-bold">3</h3>
							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
								<p class="p-2 lh-lg">Recruitment Agency that strives to help businesses put together a staff of highly efficient and skilled professionals, and also serve employees by opening up new vistas of job opportunities for them.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-4">
						<div class="row ">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
								<h3 class="p-3 fw-bold">4</h3>
							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
								<p class="p-2 lh-lg">Recruitment Agency that strives to help businesses put together a staff of highly efficient and skilled professionals, and also serve employees by opening up new vistas of job opportunities for them.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-4">
						<div class="row d-flex">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
								<h3 class="p-3 fw-bold">5</h3>
							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
								<p class="p-2 lh-lg">Recruitment Agency that strives to help businesses put together a staff of highly efficient and skilled professionals, and also serve employees by opening up new vistas of job opportunities for them.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-4 bg-info">
						<div class="row ">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
								<h3 class="p-3 fw-bold">6</h3>
							</div>
							<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
								<p class="p-2 lh-lg">Recruitment Agency that strives to help businesses put together a staff of highly efficient and skilled professionals, and also serve employees by opening up new vistas of job opportunities for them.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 bg-info">
					<div class="row d-flex">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 p-4 me-5">
						<img src="{% static 'image/brochure-2.jpeg' %}"class="w-100 h-100"></div>
						<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 p-4">
							<img src="{% static 'image/brochure-3.jpeg' %}"class="w-100">
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
					<h5 class="mt-5 ms-5 pt-5 fw-bold">PEOPLE INSPIRED</h5>
					<h1 class="mt-5 ms-5 pt-5 fw-bold fs-1" ><big>Collection</big></h1>
					<p class="ms-5 mt-3 lh-lg">Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led.</p>
				</div>
			</div>
			<div class="row d-flex mt-5">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 ms-5 me-4"><div class="one"><p class="ms-5 px-3"><small>Sample text. Click to select the text box. Click again or double click to start editing the text.</small></p></div></div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 me-4 bg-info">
					<div class="p-4 mt-5">
						<h3 class=" ms-3 fw-bold"><i class="fa fa-circle p-2 icon"></i>Physical benefits </h3>
						<h3 class="ms-3 fw-bold"><i class="fa fa-circle p-2 icon" ></i>Increase flexibility</h3>
						<h3 class="ms-3 fw-bold"><i class="fa fa-circle p-2 icon" ></i>Mental benefits</h3>
						<h3 class="ms-3 fw-bold"><i class="fa fa-circle p-2 icon "></i>Prevent fatigue</h3>
						<p class="p-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"><img src="{% static 'image/brochure-4.jpeg' %}" class="w-100"></div>
			</div>
			<div class="row mt-5 d-flex">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 image">
					<img src="{% static 'image/brochure-5.jpeg' %}" class="w-100">
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 image">
					<img src="{% static 'image/brochure-6.jpeg' %}" class="w-100">
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 image">
					<img src="{% static 'image/brochure-7.jpeg' %}" class="w-100">
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 bg-info">
					<img src="{% static 'image/brochure-8.jpg' %}" class="float-end m-4 w-50">
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5 bg-info py-5">
					<div class="row d-flex align-items-center">
           <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
						<div class="row mt-5 d-flex">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
								<div class="vr float-end w-25 h-100 bg-warning"></div>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 pt-3"><p class="lh-lg">“ You can never take too much care over the choice of your shoes. Too many women think that they are unimportant, but the real proof of an elegant woman is what is on her feet.”<br> - Christian Dior</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row d-flex align-items-center justify-content-center mt-5">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mb-5">
				<div class="mt-4">
					<h5 class="fw-bold">Eyebrow Tinting</h5>
					<p class="lh-lg">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div>
					<img src="{% static 'image/brochure-9.jpg' %}" class="rounded-pill mt-5 w-75">
					<p class="ms-5 mt-5">Images from <u>Freepik</u></p></div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
					<div>
						<img src="{% static 'image/brochure-10.jpg' %}" class="rounded-pill w-75 float-end">
					</div>
					<div class="ms-5 mt-5">
						<h5 class="fw-bold">Facials</h5>
						<p style="line-height:1.7rem;">Aliquam ut porttitor leo a. Augue interdum velit euismod in. Suscipit adipiscing bibendum est ultricies. Molestie a iaculis at erat pellentesque adipiscing commodo elit at. Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Tempus iaculis urna id volutpat lacus. Tortor at auctor urna nunc id cursus metus aliquam. Adipiscing diam donec adipiscing tristique risus nec feugiat.</p>
					</div>
				</div>
			</div>
			<div class="row d-flex align-items-center justify-content-center mt-5 bg-info">
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mt-5 p-5 text-center">
					<img src="{% static 'image/brochure-11.png' %}" class="me-5">
					<img src="{% static 'image/brochure-12.png' %}" class="me-5">
					<img src="{% static 'image/brochure-13.png' %}" class="me-5">
					<img src="{% static 'image/brochure-14.png' %}" class="me-5">
					<img src="{% static 'image/brochure-15.png' %}" class="">
				</div>
				<div class="text-center mt-5 mb-5">
					<a href="" class="btn btn-warning fw-bold text-white w-25">VIEW MORE</a>
				</div>
			</div>
			<div class="container-fluid">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 mt-5 mb-5">
					<div class="card border-0 p-5">
						<h1 class="text-center mt-5 fw-bold">Follow Us</h1>
						<h5 class="text-center mt-4 lh-lg">3045 10 Sunrize Avenue, 123-456-7890<br>Mon – Fri: 9:00 am – 8:00 pm,<br>Sat – Sun: 9:00 am – 10 pm<br>contacts@esbnyc.com</h5>
						<div class="text-center mt-3 mb-5">
							<a href="" class="btn btn-warning w-25 text-white fw-bold">READ MORE</a>
						</div>
					</div>
					<div class="text-center card border-0 py-4 bg-info">
						<h5 style="font-weight:bold;">Join our newsletter</h5>
						<span><i class="fa fa-facebook fa-2x text-warning"></i>
							<i class="fa fa-twitter fa-2x px-3 text-warning"></i>
						<i class="fa fa-instagram fa-2x text-warning"></i></span>
					</div>
				</div>
			</div>
		</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
</body>
</html>