{% extends 'base.html'%}
{% load static %}
{% block content %}
	<div class="row d-flex justify-content-center align-items-center my-5">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<form method="post" novalidate enctype="multipart/form-data">
				{% csrf_token %}
				{{form.media}}
				{{form.as_p}}
				<div class="container border border-secondary my-3">
					<p>Category:</p>
					<p>If you want to choose from existing categories then choose one from below:</p>
					{% if categories %}
						{% for category in categories %}
							<input type="radio" name="category" value="{{category}}" class="existingCategory">
							<label>{{category}}</label>
							<br>
						{% endfor %}
					{% endif %}
					<br>
					<div id="newCategory" class="my-2">
						<p class="my-2">Else you can enter a new category:</p>
						<input type="text" name="category1">
					</div>
				</div>
				<div class="container border border-secondary my-2">
					<p>Tags:</p>
					<p>If you want to select from existing tags then select from below:</p>
					{% if tags %}
						{% for tag in tags %}
							<input type="checkbox" value="{{tag}}" class="checkedvalue">{{tag}}
							<br>
						{% endfor %}
						<input type="text" name="checkvalue" id="allcheckedvalues" class="my-2">
					{% endif %}
					<br>
					<p>Else you can enter new tag also using 'comma' and end with a 'comma'..</p>
				</div>
				<input type="submit" name="submit" value="submit">
			</form>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
	<script>
	$(document).ready(function(){
		$('.checkedvalue').click(function(){
			var txt = "";
			$('.checkedvalue:checked').each(function(){
				txt += $(this).val()+","
			});
			$('#allcheckedvalues').val(txt);
		});
	});
	$(document).ready(function(){
		$('.existingCategory').click(function(){
			$('#newCategory').hide();
		});
	});
	</script>
{% endblock %}