{% extends 'base.html' %}
{% block title %}
<title>Post list</title>
{% endblock title %}
{% load static %}
{% block content %}
	<div class="row d-flex justify-content-center align-items-center my-5">
		<h2 class="fw-bold text-center">Post List</h2>
		{% for post in post_list %}
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 border border-dark p-4 my-3">
				<div class="row d-flex">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<img src="{% if post.featured_image %}{{post.featured_image.url}}{% endif %}" class="w-100 img-thumbnail">
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<h4 class="fw-bold">{{ post.title }}</h4>				
				<p class="fw-bold">By {{post.author}} on {{post.published_date}}</p>
				<h6 class="fw-bold">Category:{{post.post_category}}</h6>
				<p class="text-truncate">{{post.content}}</p>
				<p class="fw-bold">Tags:{% for tag in post.tags.all %}
				{{tag.title}}{% endfor %}</p>
				<a href="{% url 'blog:post_detail' pk=post.id %}" class="btn btn-primary my-3 fw-bold">View Details</a>
					</div>
				</div>				
			</div>
		{% endfor %}
	</div>
{% endblock %}