{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="row d-flex justify-content-center align-items-center my-5">
		{% for post in post_list %}
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 border border-dark text-center p-3">
				<p> Title:{{ post.title }}</p>
				<img src="{% if post.featured_image %}{{post.featured_image.url}}{% endif %}" class="w-100">
				<p>Author:{{post.author}}</p>
				<p>Category:{{post.post_category}}</p>
				<p>Tags:{% for tag in post.tags.all %}
				{{tag.title}}{% endfor %}</p>
				<p>Content: {{post.content}}</p>
				<a href="{% url 'blog:post_detail' pk=post.id %}" class="btn btn-primary my-3">View Details</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}